@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi Laboratorio #1</h1>
    <p>Como puede observar este es un laboratorio :3</a>.</p>
</div>
